.cta {
  margin: 100px auto;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../images/contact.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 100px 0;
}

.cta h1 {
  margin-bottom: 2rem;
}

.hero-btn {
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  color: white;
  background-color: orangered;
  transition: all 0.3s;
  border-radius: 8px;
}

.hero-btn:hover {
  background-color: transparent;
  color: orangered;
  border: 1px solid orangered;
}

.contact-form .row {
  display: flex;
  margin-top: 4rem;
}

.contact-form .row .col {
  flex-basis: 45%;
}

.form-col {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 2rem;
}

.form-col input {
  padding: 10px 15px;
  border-radius: 8px;
}

.form-col textarea {
  padding: 10px 15px;
  border-radius: 8px;
}

.form-col .check-input input {
  margin-left: 5rem;
  width: 1rem;
  height: 1rem;
}

.form-col .check-input label {
  color: white;
  margin-left: 0.5rem;
}

@media screen and (max-width: 480px) {
  .cta h1 {
    font-size: 24px;
  }

  .form-col .check-input input {
    margin-left: 1rem;
  }
}
